*{
    margin: 0px;
    padding: 0px;
}
:root{
    --white:#f7f0f0;
    --background:#e4e4e4;
    --green:#868939;
    --violet:#E6A8D7;
    --background2: #e6a8d63d;
    --navbar: #f7f7f7;
    --text: #1d1d1d;
   }
:focus,:active,:hover{
    outline: 0 !important;
    outline-offset: 0 !important;
}
::-webkit-scrollbar{
    width: 0.625rem; 
}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--background);
    border-radius: 50px;
}
h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Inter", serif;
    color: var(--white);
}
p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    font-family: "Inter", serif;
}
/* navbar */
.navbar{
 height: 6rem;
 background-color: var(--navbar);
 position: sticky;
 top: 0;
 z-index: 1;
}

.navbar .container img{
    width: 200px;
}
.navbares{
    display: flex;
    list-style-type: none;
}
.navbares li{
    margin-top: 1rem;
}
.navbares a{
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Inter", serif;
    font-weight: 600;
    color: var(--green);
    transition: 0.5s;
}
.navbares a:hover{
    color: var(--violet);
    border-bottom: 2px solid var(--violet);
}
.dropdown-menu{
    background-color: var(--navbar);
    border: 1px solid var(--navbar);
 
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-toggler{
    border: none !important;
    display: none;
}
.navbar-toggler span{
    background-color: var(--white);
    font-size: 1.3rem;
    color: var(--color);
    height: 2.4rem;
    padding-top: 0.60rem;
}

.offcanvas{
    background-color: var(--background);
}
.btn-close{
    background-color: var(--white);
}
.nav-link{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", serif;
    color: var(--green);
    transition: 0.5s;
    margin-left: 1rem;
    margin-top: 1rem;
}
.dropdown-item{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}
.nav-link:hover{
    color: var(--black);
}

/* need css */
.need h1{
    color: var(--green);
    text-align: center;
    font-size: 3rem;
    margin-top: 8rem;
}
.need p{
    color: var(--text);
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.card-body h3{
    font-size: 0.70rem;
    font-weight: 600;
    font-family: "Inter", serif;
    color: var(--background);
    margin-top: 1rem;
}
.card-body h1{
    font-size: 1.9rem;
    color: var(--green);
    margin-top: 2rem;
}
.card-body p{
    font-size: 1.2rem;
    color: var(--text);
    margin-top: 2rem;
    line-height: 1.9rem;
}

.card-body i {
    color: var(--green);
   }
.card{
    border: 1px solid var(--white);
    margin-top: 4rem;
}
.card:hover .card-body h1{
    transition: 0.5s;
    cursor: pointer;
    color: var(--background);
}
/* services */
.services{
    background-color: var(--background2);
    height: 50rem;
    margin-top: 0rem;
}
 .images1{
    margin-top: 5rem;
    position: relative;
    width: 600px;
    height: 600px;
} 
.text{
    height: 11rem;
    width: 43%;
    background-color: var(--violet);
    padding-top: 2rem;
    position: absolute;
    top: 80%;
    left: 55%;
    text-align: center;
}
.serparent{
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
}
.servicestext h1{
      font-size: 2.5rem;
      color: var(--green);
      margin-top: 5rem;
      padding-left: 2rem;
}
.servicestext p{
    font-size: 1.5rem;
    color: var(--text);
    margin-top: 1.4rem;
    padding-left: 2rem;
    line-height: 1.9rem;
}
.sertext{
    margin-left: 2rem;
}

.last h1{
    color: var(--green);
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
}



/* Footer */
.footer {
    background-color: var(--background2); /* Fialová barva pozadí */
    color: var(--violet);
    padding: 40px 20px;
    font-size: 1em;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-content {
    text-align: left;
    font-size: 0.9em;
  }
  
  .footer-content p {
    margin: 0;
    color: var(--violet);
  }
  
  .footer-content a {
    color: var(--violet);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
  
  .footer-content a:hover {
    color:var(--green); /* Fialová barva při hoveru */
  }
  
  .footer-social {
    display: flex;
    align-items: center;
  }
  
  .social-icon {
    color: var(--violet);
    font-size: 1.8em;
    margin-left: 15px;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: var(--green); /* Fialová barva při hoveru na ikonky */
  }
  
  /* Media queries pro responzivitu */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-social {
      margin-top: 20px;
    }

    .images1{
       margin-bottom: 10%;
    }
  }
  


/* navbar responsive */
@media(max-width:992px){
 .navbar-toggler{
    display: block;
 } 
  .navbares li{
    display: none;
  }
  .btun{
    display: none;
  }
.footer{
    height: 60rem; 
}
}
/* header responsive  */
@media(max-width:768px){
  .text{
    left: 46%;
    width: 49%;
  }
  .servicestext h1{
    margin-top: 3rem;
  }
  .services{
    height: 90rem;
  }
  .images1{
    width: 400px;
    height: 400px;
} 

}
@media(max-width:375px){
   }
@media(max-width:425px){
    .text{
        left: 50%;
        width: 50%;
      }
}