/* Reset all styles to ensure uniformity */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.4;
  font-size: 16px;
}

/* Základní styly pro záhlaví */
header {
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 2px solid #e6e6e6;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.logo img {
  width: 250px;
  height: auto;
  max-width: 100%;
  margin-top: 2%;
}

@media (max-width: 768px) {
  .logo img {
      width: 200px;
  }
}
/* Navigační menu */
.navbar .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar.active .menu {
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Změněná barva pozadí pro lepší kontrast */
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease-out;
}

.navbar .menu li {
  margin-left: 0;
  margin-bottom: 10px; /* Zvětšení mezery mezi položkami */
}

.navbar .menu li a {
  text-decoration: none;
  color: #7E7E1C; /* Změněna barva textu na bílou */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1em;
  padding: 12px 20px;
  display: inline-block;
  transition: color 0.3s ease, transform 0.2s ease;
}

/* Aktivní záložka - stránka na které jsi */
.navbar .menu li a.active {
  background-color: #E6A8D7;
  /*Fialovábarvaproaktivnístránku*/color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.navbar .menu li a:hover {
  color: #E6A8D7; /* Změna barvy textu na fialovou při hoveru */
  transform: translateX(10px); /* Efekt posunutí do strany při hoveru */
}

/* Dropdown menu */
.navbar .menu .dropdown {
  position: relative;
}

.navbar .menu .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: opacity 0.3s ease;
  opacity: 0;
  border-radius: 5px; /* Zaoblení rohu pro dropdown */
}

.navbar .menu .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.navbar .menu .dropdown .dropdown-content a {
  color: #7E7E1C;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.navbar .menu .dropdown .dropdown-content a:hover {
  color: #E6A8D7; /* Změna barvy textu na fialovou při hoveru */
  transform: translateX(10px);

}

/* Hamburger menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu span {
  font-size: 30px;
  color: #7E7E1C;
}

/* Animace pro zobrazení menu */
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  /* Základní styl pro menu na mobilních zařízeních */
  .navbar .menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .navbar .menu li {
    text-align: center;
    margin-bottom: 15px; /* Větší mezery mezi položkami */
  }

  .hamburger-menu {
    display: block;
  }

  .navbar.active .menu {
    display: flex;
  }
}

/* Section Styles */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 5% 15%;
  gap: 5%; /* Přidání mezery mezi obrázkem a textem */
}

.section-left, .section-right {
  flex: 1;
}

h2 {
  font-size: 2.2em;
  color: #7E7E1C;
  margin-bottom: 10px;
}

.section-left p, .section-right p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #E6A8D7;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 25px;
  padding-bottom: 10px;
}

button:hover {
  background-color: #D49EBF;
  transform: scale(1.05);
}

.reverse {
  flex-direction: row-reverse;
}

.image {
  width: 550px;
  height: 550px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

}

@media (max-width: 768px) {
  .section {
      flex-direction: column;
  }

  .reverse {
      flex-direction: column;
  }

  .image {
      width: 350px;
      height: 350px;
  }
}

/* Footer */
.footer {
  background-color: #7E7E1C; /* Fialová barva pozadí */
  color: #fff;
  padding: 40px 20px;
  font-size: 1em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-content {
  text-align: left;
  font-size: 0.9em;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #E6A8D7; /* Fialová barva při hoveru */
}

.footer-social {
  display: flex;
  align-items: center;
}

.social-icon {
  color: #fff;
  font-size: 1.8em;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #E6A8D7; /* Fialová barva při hoveru na ikonky */
}

/* Media queries pro responzivitu */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-social {
    margin-top: 20px;
  }
}



.homeopathy {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.homeopathy-container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  color: #7E7E1C;
  text-align: center;
  margin-bottom: 30px;
}

article {
  font-size: 1.1em;
  line-height: 1.6;
  color: #444;
}

h2 {
  font-size: 1.8em;
  color: #7E7E1C;
  margin-top: 30px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

strong {
  color: #E6A8D7; /* fialová barva pro zvýraznění */
}

ul li {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  article {
    font-size: 1em;
  }

  header h1 {
    font-size: 2em;
  }
}



/* Stylování tabulky pro ceník */
.price-table {
  margin-top: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.price-item:last-child {
  border-bottom: none;
}

.price-item span {
  font-size: 1.1rem;
  color: #333;
}

.price-item .price {
  font-weight: bold;
  color: #E6A8D7; /* Tmavší modrá barva pro ceny */
}

.price-item .note {
  font-style: italic;
  color: #666;
}






/* Různé mobilní úpravy */
@media (max-width: 768px) {
  .price-list-container {
      padding: 15px;
  }

  .price-list h1 {
      font-size: 2rem;
  }

  .price-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .price-item .price {
      margin-top: 10px;
  }
}
