*{
    margin: 0px;
    padding: 0px;
}
:root{
    --white:#f7f0f0;
    --background:#e4e4e4;
    --green:#868939;
    --violet:#E6A8D7;
    --background2: #e6a8d63d;
    --navbar: #f7f7f7;
    --text: #1d1d1d;
   }
:focus,:active,:hover{
    outline: 0 !important;
    outline-offset: 0 !important;
}
::-webkit-scrollbar{
    width: 0.625rem; 
}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--background);
    border-radius: 50px;
}
h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Inter", serif;
    color: var(--white);
}
p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    font-family: "Inter", serif;
}
/* navbar */
.navbar{
 height: 6rem;
 background-color: var(--navbar);
 position: sticky;
 top: 0;
 z-index: 1;
}

.navbar .container img{
    width: 200px;
}
.navbares{
    display: flex;
    list-style-type: none;
}
.navbares li{
    margin-top: 1rem;
}
.navbares a{
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Inter", serif;
    font-weight: 600;
    color: var(--green);
    transition: 0.5s;
}
.navbares a:hover{
    color: var(--black);
    border-bottom: 2px solid var(--black);
}
.dropdown-menu{
    background-color: var(--background);
    border: 1px solid var(--background);
    box-shadow: 0px 0px 6px var(--background);
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-toggler{
    border: none !important;
    display: none;
}
.navbar-toggler span{
    background-color: var(--white);
    font-size: 1.3rem;
    color: var(--color);
    height: 2.4rem;
    padding-top: 0.60rem;
}
.btun{
   height: 3.4rem;
   width: 10rem;
   font-size: 0.80rem;
   font-weight: 600;
   font-family: "Inter", serif;
   border: 2px solid var(--background);
   background-color: var(--background);
   color: var(--white);
   border-radius: 6px;
   transition: 0.5s;
}
.btun:hover{
    background-color: var(--white);
    color: var(--background);
    border: 1px solid var(--background);
}
.offcanvas{
    background-color: var(--background);
}
.btn-close{
    background-color: var(--white);
}
.nav-link{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", serif;
    color: var(--green);
    transition: 0.5s;
    margin-left: 1rem;
    margin-top: 1rem;
}
.dropdown-item{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}
.nav-link:hover{
    color: var(--black);
}

/* need css */
.need h1{
    color: var(--green);
    text-align: center;
    font-size: 3rem;
    margin-top: 8rem;
}
.need p{
    color: var(--fullgray);
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.card-body h3{
    font-size: 0.70rem;
    font-weight: 600;
    font-family: "Inter", serif;
    color: var(--background);
    margin-top: 1rem;
}
.card-body h1{
    font-size: 1.9rem;
    color: var(--green);
    margin-top: 2rem;
}
.card-body p{
    font-size: 1.2rem;
    color: var(--fullgray);
    margin-top: 2rem;
    line-height: 1.9rem;
}

.card-body i {
    color: var(--green);
   }
.card{
    border: 1px solid var(--white);
    margin-top: 4rem;
}
.card:hover .card-body h1{
    transition: 0.5s;
    cursor: pointer;
    color: var(--background);
}
/* services */
.services{
    background-color: var(--background2);
    height: 50rem;
    margin-top: 0rem;
}
 .images1{
    margin-top: 5rem;
    position: relative;
    width: 600px;
    height: 600px;
} 
.text{
    height: 11rem;
    width: 43%;
    background-color: var(--background);
    padding-top: 2rem;
    position: absolute;
    top: 80%;
    left: 55%;
    text-align: center;
}
.serparent{
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
}
.servicestext h1{
      font-size: 2.5rem;
      color: var(--green);
      margin-top: 5rem;
      padding-left: 2rem;
}
.servicestext p{
    font-size: 1.5rem;
    color: var(--text);
    margin-top: 1.4rem;
    padding-left: 2rem;
    line-height: 1.9rem;
}
.sertext{
    margin-left: 2rem;
}
.serbtun button{
    height: 4.3rem;
    width: 13rem;
    border: 2px solid var(--background);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    color: var(--background);
    margin-top: 3rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.6s;
}
.serbtun button:hover{
    background-color: var(--background);
    color: var(--white);
}
.last h1{
    color: var(--green);
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
}
.footer{
    background-color: var(--background2);
    height: 30rem;
    margin-top: 4rem;
    padding-top: 5rem;
}
.footerimg p{
    color: var(--fullgray);
    margin-top: 2rem;
}
.footer h2{
    font-size: 1.8rem;
    color: var(--green);
    font-weight: 700;
}
.footer a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--fullgray);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-decoration: none;
}
.footer a:hover{
    color: var(--background);
}
.footertext p{
    color: var(--text);
    font-size: 1.2rem;
    margin-top: 1rem;
}
.footertext input{
    height: 3.1rem;
    width: 75%;
    border: 2px solid var(--background);
    padding-left: 1rem;
    font-size: 0.90rem;
    font-weight: 600;
}
.footertext input::placeholder{
    color: var(--background);
}
.footertext i{
    margin-top: 4rem;
    font-size: 2rem;
    margin-left: 1rem;
    transition: 0.6s;
    cursor: pointer;
}
.footertext i:hover{
    color: var(--background);
    transform: rotatey(90deg);
}
.footer p{
    color: var(--fullgray);
}
.footer p span{
    color: var(--background);
}


/* navbar responsive */
@media(max-width:992px){
 .navbar-toggler{
    display: block;
 } 
  .navbares li{
    display: none;
  }
  .btun{
    display: none;
  }
.footer{
    height: 60rem; 
}
}
/* header responsive  */
@media(max-width:768px){
  .text{
    left: 46%;
    width: 49%;
  }
  .servicestext h1{
    margin-top: 3rem;
  }
  .services{
    height: 90rem;
  }
  .images1{
    width: 400px;
    height: 400px;
} 

}
@media(max-width:375px){
   }
@media(max-width:425px){
    .text{
        left: 50%;
        width: 50%;
      }
}